div {
	display: inline-block;
}

.satu {
	width: 200px;
	height: 200px;
	background-color: lightgreen;
	margin-right: 30px;
}

.dua {
	width: 100px;
	height: 100px;
	background-color: lightblue;
	margin-left: 20px;
}

.tiga {
	width: 50px;
	height: 50px;
	background-color: violet;
}